
<div class="title-bar" data-responsive-toggle="mainNavigation" data-hide-for="medium">
  <div class="title-bar-left">
    <button class="menu-icon" type="button" data-toggle="mainNavigation"></button>
    <div class="title-bar-title">Menu</div>
  </div>
  <div class="title-bar-right">
    St. Barnabas Preschool
  </div>
</div>

<div class="top-bar" id="mainNavigation">
  <div class="top-bar-left">
    <ul class="menu vertical medium-horizontal">
      <li class="menu-text hide-for-small-only">St. Barnabas Preschool</li>
      <li><a href="#">Admissions</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu vertical medium-horizontal">
      <li><a href="#">Our Philosophy</a></li>
      <li><a href="#">Staff</a></li>
      <li><a href="#">St. Barnabas</a></li>
    </ul>
  </div>
</div>
